<div class="modal fade" id="confirmUpdateModal" tabindex="-1" role="dialog" aria-labelledby="confirmUpdateModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="confirmUpdateModalLabel">Confirmar Actualización</h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Ruta de actualización</th>
                            <th>Valor Actual</th>
                            <th>Nuevo Valor</th>
                        </tr>
                    </thead>
                    <tbody id="changePreviewBody">

                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="confirmUpdate">Confirmar</button>
            </div>
        </div>
    </div>
</div>
