<div class="modal fade bd-example-modal-lg" id="estados_modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
                    <i class="font-icon-close-2"></i>
                </button>
                <h3 class="modal-title" id="titulo_estados"></h3>
            </div>
            <form action="">
                <div class="modal-body">
                    <section class="card box-typical">
                        <div class="card-block">
                            <div class="col-md-12">
                                <input type="text" id="f_id" hidden="true">
                                <label class="form-label">Estado</label>
                                <input class="form-control" id="f_estados" placeholder="Ingrese un estado"></input>
                            </div>
                        </div>    
                    </section>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="guardar_estados" hidden="true">Guardar</button>
                    <button type="button" class="btn btn-warning" id="actualizar_estados" hidden="true">Actualizar</button>
                </div>  
            </form>
        </div>  
    </div>
</div>