<div class="modal fade" id="cambiosModal" tabindex="-1" role="dialog" aria-labelledby="cambiosModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="cambiosModalLabel">Cambios realizados a la tarea</h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Usuario</th>
                            <th>Ruta de actualización</th>
                            <th>Valor original</th>
                            <th>Cambio realizado</th>
                        </tr>
                    </thead>
                    <tbody id="cambios_table">

                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
