
<div id="modal_baja_equipos" class="modal fade" data-backdrop="true" data-keyboard="false" data-show="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalCambiosLabel">Confirmar baja de equipos en el equipo</h5>
      </div>
      <div class="modal-body">
        <br>
        <label for="tagsEquipos">Tags de equipos</label>
        <textarea class="form-control" name="tagsEquipos" id="tagsEquipos" rows="6" placeholder="Ingrese tags de equipos separados por coma."></textarea>
        <br>
        <label for="fechaBaja">Seleccione una fecha</label>
        <input type="date" class="form-control" name="fechaBaja" id="fechaBaja"></input>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" id="confirmarBaja" class="btn btn-danger">Confirmar</button>
      </div>
    </div>
  </div>
</div>
